# Jupyter Notebook 소개
## Code Cell 과 Markdown Cell
### Code Cell
### Markdown Cell

마지막에 두번 space 줄바꿈  
마지막에 두번 space 줄바꿈

* 오잉
* 오잉
1.**진하게 나타나고**  
2.*기울여쓰기 하고*  
[영진전문대](http://computer.yju.ac.kr)

| 이 름 | 학 번 | 성 별 |   
| ----- | :--------: | :-------: |   
| 김광일 | 1701232  | 남 |

print('Hello World!')

# This is an H!

# this is a H1d

In [1]:
import time;
time.sleep(3);

def say_hello(receipent):
    return 'Hello! {}'.format(receipent)
say_hello('kki')

'Hello! kki'

And finally, adding images is easy: ![Alt text](http://localhost:8888/static/base/images/logo.png?v=a2a176ee3cee251ffddf5fa21fe8e43727a9e5f87a06f9c91ad7b776d9e9d3d5e0159c16cc188a3965e00375fb4bc336c16067c688f5040c0c2d4bfdb852a9e4)

```
bar()
```

In [3]:
name="홍길동"

In [4]:
print(name)

홍길동

In [5]:
import numpy as np
def square(x):
    return x * x

In [6]:
x = np.random.randint(1,10)
y = square(x)
print('%d suared is %d' % (x, y))

3 suared is 9

In [7]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [9]:
df = pd.read_csv('fortune500.csv')