In [5]:
import pandas as pd

In [34]:
people = {
    'first' : ['길동', '춘향', '몽룡'],
    'last' : ['홍', '성', '이'],
    'email' : ["gdhong@gmail.com", 'chsung@gmail.com', 'mylee@gmail.com'],
}

In [35]:
df = pd.DataFrame(people)

In [31]:
df

                 first last
email
chsung@gmail.com    춘향    성
gdhong@gmail        길동    홍
mylee@gmail.com     몽룡    이

In [11]:
df.loc[0]

first              길동
last                홍
email    gdhong@gmail
Name: 0, dtype: object

In [12]:
df.loc[0, 'first']

'길동'

In [15]:
df.loc[[0, 1], ['last', 'email']]

  last             email
0    홍      gdhong@gmail
1    성  chsung@gmail.com

In [16]:
df.set_index('email')

                 first last
email
gdhong@gmail        길동    홍
chsung@gmail.com    춘향    성
mylee@gmail.com     몽룡    이

In [17]:
df

  first last             email
0    길동    홍      gdhong@gmail
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [18]:
df.set_index('email', inplace = True)

In [19]:
df

                 first last
email
gdhong@gmail        길동    홍
chsung@gmail.com    춘향    성
mylee@gmail.com     몽룡    이

In [23]:
df.loc['gdhong@gmail','first']

'길동'

In [24]:
df.index

Index(['gdhong@gmail', 'chsung@gmail.com', 'mylee@gmail.com'], dtype='object', name='email')

In [26]:
df.iloc[0, 0]

IndexError: positional indexers are out-of-bounds

In [27]:
df.sort_index()

                 first last
email
chsung@gmail.com    춘향    성
gdhong@gmail        길동    홍
mylee@gmail.com     몽룡    이

In [28]:
df

                 first last
email
gdhong@gmail        길동    홍
chsung@gmail.com    춘향    성
mylee@gmail.com     몽룡    이

In [29]:
df.sort_index(inplace=True)

In [36]:
df

  first last             email
0    길동    홍  gdhong@gmail.com
1    춘향    성  chsung@gmail.com
2    몽룡    이   mylee@gmail.com

In [45]:
df.sort_index(ascending=False, inplace=True)

In [38]:
df

  first last             email
2    몽룡    이   mylee@gmail.com
1    춘향    성  chsung@gmail.com
0    길동    홍  gdhong@gmail.com

In [44]:
df.set_index('email', inplace=True)

KeyError: "None of ['email'] are in the columns"

In [51]:
df

                 first last
email
mylee@gmail.com     몽룡    이
gdhong@gmail.com    길동    홍
chsung@gmail.com    춘향    성

In [48]:
df.index

Index(['mylee@gmail.com', 'gdhong@gmail.com', 'chsung@gmail.com'], dtype='object', name='email')

In [49]:
df.index[2]

'chsung@gmail.com'

In [50]:
df.iloc[2, -1]

'성'

In [52]:
df.reset_index(inplace=True)

In [53]:
df

              email first last
0   mylee@gmail.com    몽룡    이
1  gdhong@gmail.com    길동    홍
2  chsung@gmail.com    춘향    성

In [54]:
df['last']

0    이
1    홍
2    성
Name: last, dtype: object

In [55]:
df['last'] == '성'

0    False
1    False
2     True
Name: last, dtype: bool

In [58]:
df[df['last'] == '성']

              email first last
2  chsung@gmail.com    춘향    성

In [59]:
filt = (df['last'] == '성')

In [60]:
df[filt]

              email first last
2  chsung@gmail.com    춘향    성

In [61]:
df[filt]['first']

2    춘향
Name: first, dtype: object

In [63]:
df.loc[2, 'first']

'춘향'

In [65]:
df.loc[filt]

              email first last
2  chsung@gmail.com    춘향    성

In [66]:
df.loc[filt]['first']

2    춘향
Name: first, dtype: object

In [67]:
df.loc[filt, 'first']

2    춘향
Name: first, dtype: object

In [68]:
filt = (df['last'] == '성') & (df['first'] == '길동')

In [69]:
filt

0    False
1    False
2    False
dtype: bool

In [70]:
filt = (df['last'] == '성') | (df['first'] == '길동')

In [71]:
filt

0    False
1     True
2     True
dtype: bool

In [72]:
df[filt]

              email first last
1  gdhong@gmail.com    길동    홍
2  chsung@gmail.com    춘향    성

In [74]:
df[filt]['email']

1    gdhong@gmail.com
2    chsung@gmail.com
Name: email, dtype: object

In [77]:
df.loc[filt, 'email']

1    gdhong@gmail.com
2    chsung@gmail.com
Name: email, dtype: object

In [76]:
df.loc[filt]['email']

1    gdhong@gmail.com
2    chsung@gmail.com
Name: email, dtype: object

In [78]:
df.loc[~filt, 'email']

0    mylee@gmail.com
Name: email, dtype: object

In [79]:
df.loc[~filt]['email']

0    mylee@gmail.com
Name: email, dtype: object