In [1]:
import pandas as pd
people = {
    "first" : ["Gildong", "Chunhyang", "Mongryoung"],
    "last" : ["Hong", "Sung", "Lee"],
    "email" : ["gdhong@gmail.com", "chsung@gmail.com", "mrlee@gmail.com"]
}
df = pd.DataFrame(people)

In [2]:
df

        first  last             email
0     Gildong  Hong  gdhong@gmail.com
1   Chunhyang  Sung  chsung@gmail.com
2  Mongryoung   Lee   mrlee@gmail.com

In [3]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [4]:
df.columns = ['first_name', 'last_name', 'email']

In [5]:
df

   first_name last_name             email
0     Gildong      Hong  gdhong@gmail.com
1   Chunhyang      Sung  chsung@gmail.com
2  Mongryoung       Lee   mrlee@gmail.com

In [6]:
col_arr = [x for x in df.columns]

In [7]:
col_arr

['first_name', 'last_name', 'email']

In [8]:
arr = [x for x in range(1, 10, 2)]
arr

[1, 3, 5, 7, 9]

In [9]:
col_arr = [x.upper() for x in df.columns]
col_arr

['FIRST_NAME', 'LAST_NAME', 'EMAIL']

In [10]:
df.columns = col_arr
df

   FIRST_NAME LAST_NAME             EMAIL
0     Gildong      Hong  gdhong@gmail.com
1   Chunhyang      Sung  chsung@gmail.com
2  Mongryoung       Lee   mrlee@gmail.com

In [11]:
[x.replace('_', ' ') for x in df.columns]

['FIRST NAME', 'LAST NAME', 'EMAIL']

In [12]:
df

   FIRST_NAME LAST_NAME             EMAIL
0     Gildong      Hong  gdhong@gmail.com
1   Chunhyang      Sung  chsung@gmail.com
2  Mongryoung       Lee   mrlee@gmail.com

In [14]:
df.columns = [x.replace('_', ' ') for x in df.columns]
df

   FIRST NAME LAST NAME             EMAIL
0     Gildong      Hong  gdhong@gmail.com
1   Chunhyang      Sung  chsung@gmail.com
2  Mongryoung       Lee   mrlee@gmail.com

In [16]:
arr = ['my_apple', 'your_grape', 'his_money']

In [17]:
df.columns

Index(['FIRST NAME', 'LAST NAME', 'EMAIL'], dtype='object')

In [18]:
type(df.columns)

pandas.core.indexes.base.Index

In [19]:
df.columns.str.replace(' ', '_')

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [20]:
df

   FIRST NAME LAST NAME             EMAIL
0     Gildong      Hong  gdhong@gmail.com
1   Chunhyang      Sung  chsung@gmail.com
2  Mongryoung       Lee   mrlee@gmail.com

In [21]:
df.columns = df.columns.str.replace(' ', '_')

In [22]:
df

   FIRST_NAME LAST_NAME             EMAIL
0     Gildong      Hong  gdhong@gmail.com
1   Chunhyang      Sung  chsung@gmail.com
2  Mongryoung       Lee   mrlee@gmail.com

In [25]:
df.rename(columns = {'FIRST_NAME' : 'first', 'LAST_NAME' : 'last'})

        first  last             EMAIL
0     Gildong  Hong  gdhong@gmail.com
1   Chunhyang  Sung  chsung@gmail.com
2  Mongryoung   Lee   mrlee@gmail.com

In [ ]:
원본은 그대로 있음

In [26]:
df

   FIRST_NAME LAST_NAME             EMAIL
0     Gildong      Hong  gdhong@gmail.com
1   Chunhyang      Sung  chsung@gmail.com
2  Mongryoung       Lee   mrlee@gmail.com

원본 df 바꾸기 inplace

In [27]:
df.rename(columns = {'FIRST_NAME' : 'first', 'LAST_NAME' : 'last'}, inplace = True)

In [28]:
df

        first  last             EMAIL
0     Gildong  Hong  gdhong@gmail.com
1   Chunhyang  Sung  chsung@gmail.com
2  Mongryoung   Lee   mrlee@gmail.com

In [29]:
df.loc[2]

first         Mongryoung
last                 Lee
EMAIL    mrlee@gmail.com
Name: 2, dtype: object

In [30]:
df.loc[2, 'first']

'Mongryoung'

In [31]:
df.loc[2] = ['몽룡', '이', 'mrlee@yju.ac.kr']
df

       first  last             EMAIL
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2         몽룡     이   mrlee@yju.ac.kr

In [32]:
df.loc[2, ['last', 'EMAIL']]

last                   이
EMAIL    mrlee@yju.ac.kr
Name: 2, dtype: object

In [35]:
df.loc[2, ['last', 'EMAIL']] = ['Lee', 'mrlee@gmail.com']
df

       first  last             EMAIL
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2         몽룡   Lee   mrlee@gmail.com

In [49]:
df.rename(columns = {'eamil' : 'email'}, inplace=True)

In [50]:
df

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2         몽룡   Lee   mrlee@gmail.com

In [51]:
df['email'] == 'mrlee@gmail.com'

0    False
1    False
2     True
Name: email, dtype: bool

In [53]:
df[df['email'] == 'mrlee@gmail.com']

  first last            email
2    몽룡  Lee  mrlee@gmail.com