In [1]:
import pandas as pd

In [2]:
people = {
    "first" : ["Gildong", "Chunhyang", "Mongryoung"],
    "last" : ["Hong", "Sung", "Lee"],
    "email" : ["gdhong@gmail.com", "chsung@gmail.com", "mrlee@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

        first  last             email
0     Gildong  Hong  gdhong@gmail.com
1   Chunhyang  Sung  chsung@gmail.com
2  Mongryoung   Lee   mrlee@gmail.com

In [5]:
df['email']

0    gdhong@gmail.com
1    chsung@gmail.com
2     mrlee@gmail.com
Name: email, dtype: object

In [6]:
df[['last', 'email']]

   last             email
0  Hong  gdhong@gmail.com
1  Sung  chsung@gmail.com
2   Lee   mrlee@gmail.com

In [7]:
type(df['email'])

pandas.core.series.Series

In [8]:
type(df[['last', 'email']])

pandas.core.frame.DataFrame

사본에 대해서 upper

In [9]:
df['last'].str.upper()

0    HONG
1    SUNG
2     LEE
Name: last, dtype: object

In [10]:
df

        first  last             email
0     Gildong  Hong  gdhong@gmail.com
1   Chunhyang  Sung  chsung@gmail.com
2  Mongryoung   Lee   mrlee@gmail.com

원본의 'last'칼럼 값들을 모두 대문자로 변경하고자 한다면?

In [11]:
df['last'] = df['last'].str.upper()

In [12]:
df

        first  last             email
0     Gildong  HONG  gdhong@gmail.com
1   Chunhyang  SUNG  chsung@gmail.com
2  Mongryoung   LEE   mrlee@gmail.com

In [13]:
df['last'].str.len()

0    4
1    4
2    3
Name: last, dtype: int64

apply() 함수는 DataFrame 또는 Series의 각 값에 대해서 특정 함수를 정용하고자 할 때 사용될 수 있다.

In [14]:
df['last'].apply(str.upper)

0    HONG
1    SUNG
2     LEE
Name: last, dtype: object

str.upper 에서 upper 만 쓰고싶어서 upper함수를 만든다

파이썬에서 함수는

def 함수이름() :  
&nbsp;&nbsp;&nbsp;&nbsp;함수구현.

In [15]:
def upper(strval) : 
    return strval.upper()
def lower(strval) :
    return strval.lower()

In [16]:
df['last'].apply(upper)

0    HONG
1    SUNG
2     LEE
Name: last, dtype: object

In [17]:
df['last'] = df['last'].apply(lower)
df

        first  last             email
0     Gildong  hong  gdhong@gmail.com
1   Chunhyang  sung  chsung@gmail.com
2  Mongryoung   lee   mrlee@gmail.com

In [18]:
a = df['first']
b = df['last']

a, b = b, a

In [19]:
df['last']

0    hong
1    sung
2     lee
Name: last, dtype: object

In [20]:
type(a)

pandas.core.series.Series

In [21]:
df

        first  last             email
0     Gildong  hong  gdhong@gmail.com
1   Chunhyang  sung  chsung@gmail.com
2  Mongryoung   lee   mrlee@gmail.com

In [22]:
df.apply(len) 
# 데이터 행 갯수

first    3
last     3
email    3
dtype: int64

In [23]:
df.loc[3] = ['chunhyang', None, 'chsung@gmail.com']

In [24]:
df

        first  last             email
0     Gildong  hong  gdhong@gmail.com
1   Chunhyang  sung  chsung@gmail.com
2  Mongryoung   lee   mrlee@gmail.com
3   chunhyang  None  chsung@gmail.com

In [25]:
df['first'].count()

4

select count(name) from members  
SQL에서도 name 칼럼 값이 null 이면 카운팅에서 제외된다.  
즉, members 테이블에 5개의 레코드가 있어도, 특정 하나의 레코드의 name 칼럼 값이 null이면  
위 SQL문의 결과는 4가 반환된다.  
이처럼, count() 마찬가지다.  
  
select count( * ) from members;

In [26]:
df.apply(len)

first    4
last     4
email    4
dtype: int64

In [27]:
df.apply(len, axis='columns')

0    3
1    3
2    3
3    3
dtype: int64

In [28]:
df.apply(len, axis='index')

first    4
last     4
email    4
dtype: int64

In [29]:
df.loc[3, 'last'] = 'Sung'

In [30]:
df.apply(min)

first           Chunhyang
last                 Sung
email    chsung@gmail.com
dtype: object

In [31]:
df

        first  last             email
0     Gildong  hong  gdhong@gmail.com
1   Chunhyang  sung  chsung@gmail.com
2  Mongryoung   lee   mrlee@gmail.com
3   chunhyang  Sung  chsung@gmail.com

In [32]:
df['email'].apply(min)

0    .
1    .
2    .
3    .
Name: email, dtype: object

df.shot_value(by="columns_name")

In [33]:
df.apply(lambda x:x.min())

first           Chunhyang
last                 Sung
email    chsung@gmail.com
dtype: object

map () 함수를 보자
map() 은 시리즈의 각 값을 치환하기 위해 사용될 수 있다.
정해지지 않은 정보는 NaN으로 바꾼다.

In [35]:
df['first']

0       Gildong
1     Chunhyang
2    Mongryoung
3     chunhyang
Name: first, dtype: object

In [36]:
df['first'].map({'Gildong':'길동', 'Chunhyang':'춘향'})

0     길동
1     춘향
2    NaN
3    NaN
Name: first, dtype: object

In [37]:
df

        first  last             email
0     Gildong  hong  gdhong@gmail.com
1   Chunhyang  sung  chsung@gmail.com
2  Mongryoung   lee   mrlee@gmail.com
3   chunhyang  Sung  chsung@gmail.com

In [40]:
df['first'].replace({'Gildong':'길동', 'Chunhyang':'춘향'}, inplace=True)

replace 에 inplace=True 사용 가능
df['first'] = df['first].replace({'Gildong':'길동', 'Chunhyang':'춘향'}) -> 원본 덮어쓰는것도 가능

In [42]:
df

        first  last             email
0          길동  hong  gdhong@gmail.com
1          춘향  sung  chsung@gmail.com
2  Mongryoung   lee   mrlee@gmail.com
3   chunhyang  Sung  chsung@gmail.com

In [43]:
df['first'].replace({'Mongryoung':'몽룡', 'chunhyang':'향단'} , inplace = True)

In [48]:
df.loc[3, 'email'] = "chsung@gmail.com"

In [49]:
df

  first  last             email
0    길동  hong              hong
1    춘향  sung              sung
2    몽룡   lee              park
3    향단  Sung  chsung@gmail.com

In [67]:
df = pd.read_csv('../survey_results_public.csv', index_col='Respondent')

pd.read_sdv('파일 경로', index_col='인덱스로 사용할 column')

In [69]:
pd.set_option('display.max_columns', 84)

In [56]:
df.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [68]:
df.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace=True)

In [72]:
df.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,True,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,False,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [59]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq', 'SalaryUSD',
       'WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote', 'WorkLoc',
       'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests', 'PurchaseHow',
       'PurchaseWhat', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [60]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [61]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [70]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False})

In [71]:
df['Hobbyist']

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool