In [1]:
import pandas as pd

DataFrame을 만들기 위해 파이썬 dictionary를 다음과 같이 정의한다.

In [2]:
people = {
    "first" : ['Gildong', 'Chunhyang', 'Mongyoung'],
    "last" : ['Hong', 'Sung', 'Lee'],
    "email" : ['gdhong@gmail.com', "chsung@gmail.com", "mrlee@gmail.com"]
}

people로 부터 DataFrame을 생성하고, 그놈을 df라 하자.

In [3]:
df = pd.DataFrame(people);

In [4]:
df

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com

In [5]:
type(df)

pandas.core.frame.DataFrame

last 칼럼값을 오름차순으로 정렬하자.  sort_values() 함수이용,

In [7]:
df.sort_values(by='last')

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
1  Chunhyang  Sung  chsung@gmail.com

원본은 변경되지 않았고, 오름차순 정렬이 됐다.

In [8]:
df

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com

기본적으로 sort_values()는 오름차순 정렬한다. sort_vlaues(ascending = True)가 기본값.  
내림차순으로 정렬하고자 한다면 sort_values(ascending=False)

In [9]:
df.sort_values(by="last", ascending=False)

       first  last             email
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
0    Gildong  Hong  gdhong@gmail.com

SQL에서도 order by 절에 정렬 기준을 여러개 명시할 수 잇다.  
pandas도 그렇다

In [10]:
df.sort_values(by = ["last", "first"], ascending=False)

       first  last             email
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
0    Gildong  Hong  gdhong@gmail.com

last 는 오름차순 first는 내림차순

In [11]:
df.sort_values(by = ['last', 'first'], ascending=[ True, False])

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
1  Chunhyang  Sung  chsung@gmail.com

In [12]:
person = {"first" : 'JunPyo', 'last':'Hong', 'email':'jphong@gmail.com'}

새로운 레코드를 기존 DataFrame에 추가할 때, append()를 사용할 수 있다.

In [14]:
person

{'first': 'JunPyo', 'last': 'Hong', 'email': 'jphong@gmail.com'}

In [15]:
df

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com

In [16]:
df.append(person)

TypeError: Can only append a dict if ignore_index=True

In [19]:
df.append(person, ignore_index=True)

TypeError: append() got an unexpected keyword argument 'inplace'

사본이 출력됨. inplace 없음 직접할당 해야함

In [22]:
df = df.append(person, ignore_index=True)

In [23]:
df

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
3     JunPyo  Hong  jphong@gmail.com
4     JunPyo  Hong  jphong@gmail.com

행 삭제는 drop(index=) 이용, index 옵션 명시, inplace사용 가능

In [24]:
df.drop(index=4, inplace=True)

In [25]:
df

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
3     JunPyo  Hong  jphong@gmail.com

In [26]:
df.sort_values(by=['last','first'], ascending=[False, True])

       first  last             email
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
0    Gildong  Hong  gdhong@gmail.com
3     JunPyo  Hong  jphong@gmail.com

In [27]:
df.sort_values(by=['last','first'], ascending=[False, True], inplace=True)
df

       first  last             email
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
0    Gildong  Hong  gdhong@gmail.com
3     JunPyo  Hong  jphong@gmail.com

인덱스를 기준으로 정렬하고자 할 때 sort_index()함수를 사용한다. / 이것도 사본을 정렬한것.

In [30]:
df.sort_index()

       first  last             email
0    Gildong  Hong  gdhong@gmail.com
1  Chunhyang  Sung  chsung@gmail.com
2  Mongyoung   Lee   mrlee@gmail.com
3     JunPyo  Hong  jphong@gmail.com

하나의 칼럼 값만 정렬해서 그 결과를 보고 싶다면, 즉 Series 객체만 정렬하고 싶다면 :

In [31]:
df['last'].sort_values()

0    Hong
3    Hong
2     Lee
1    Sung
Name: last, dtype: object

In [33]:
df = pd.read_csv('../survey_results_public.csv', index_col='Respondent')

In [34]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [35]:
schema_df = pd.read_csv('../survey_results_schema.csv', index_col = 'Column')

In [36]:
schema_df

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

NaN 표시된 것은 미입력된 값, SQL의 NULL값, pandas에서는 missing value라 부른다.

데이터프레임 df의 행을 'Country' 칼럼 값을 기준으로 오름차순 정렬하라.

In [38]:
df.sort_values(by='Country')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
39258,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Afghanistan,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy
63129,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Afghanistan,"Yes, full-time",I never completed any formal education,NaN,Taken an online course in programming or softw...,...,NaN,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy
85715,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Afghanistan,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Received on-the-job training in software devel...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
50767,I am a developer by profession,No,Less than once per year,NaN,"Independent contractor, freelancer, or self-em...",Afghanistan,"Yes, part-time",Associate degree,"A health science (ex. nursing, pharmacy, radio...",Completed an industry certification program (e...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2782,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,Afghanistan,No,NaN,I never declared a major,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,60.0,Man,NaN,NaN,NaN,NaN,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88062,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88076,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

원본 DataFrame을 'Country' 칼럼 값을 기준으로 오름차순 정렬하라.

In [40]:
df = df.sort_values(by='Country')

국가이름으로 오름차순 정렬된 데이터프레임의 나라와, 월급정보를 출력해봐라.  
Country, ConvertedComp칼럼을 출력하자

In [41]:
df[['Country', 'ConvertedComp']].head(50)

                Country  ConvertedComp
Respondent
39258       Afghanistan        19152.0
63129       Afghanistan      1000000.0
85715       Afghanistan            NaN
50767       Afghanistan            NaN
2782        Afghanistan            NaN
63019       Afghanistan            NaN
6417        Afghanistan            NaN
40000       Afghanistan            NaN
88731       Afghanistan            NaN
48436       Afghanistan         4464.0
10746       Afghanistan         3996.0
62525       Afghanistan            NaN
49702       Afghanistan            NaN
33178       Afghanistan            NaN
60946       Afghanistan            NaN
86362       Afghanistan            NaN
88582       Afghanistan            NaN
28638       Afghanistan            0.0
722         Afghanistan            0.0
26340       Afghanistan            NaN
86932       Afghanistan            NaN
85825       Afghanistan            NaN
7085        Afghanistan        14364.0
7353        Afghanistan            NaN
87091       Afghanistan            NaN
58760       Afghanistan            NaN
74386       Afghanistan            NaN
29045       Afghanistan            NaN
51859       Afghanistan            NaN
45854       Afghanistan            NaN
47110       Afghanistan            NaN
44403       Afghanistan            NaN
22450       Afghanistan         7980.0
8149        Afghanistan         1596.0
80926       Afghanistan            NaN
59560       Afghanistan            NaN
60569       Afghanistan            NaN
37802       Afghanistan            NaN
29736       Afghanistan         1116.0
43106       Afghanistan            NaN
12310       Afghanistan            NaN
58450       Afghanistan        17556.0
62168       Afghanistan            NaN
50499       Afghanistan       153216.0
78817           Albania         4968.0
57419           Albania            NaN
49757           Albania            NaN
41608           Albania            NaN
33385           Albania            NaN
6716            Albania        60000.0

ConvertedComp 칼럼이름을 SalaryUSD로 변경하자.

In [43]:
df.rename(columns={'ConvertedComp' : 'SalaryUSD'}, inplace=True)

In [47]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
39258,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Afghanistan,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Database administrator;Designer;Developer, bac...",2,22,1,Very satisfied,Very satisfied,Very confident,No,Yes,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...","Something else changed (education, award, medi...",AFN,Afghan afghani,120000.0,Monthly,19152.0,49.0,There is a schedule and/or spec (made by me or...,Not enough people for the workload;Time spent ...,Less than once per month / Never,Office,Far above average,"Yes, because I see value in code review",10.0,"Yes, it's not part of our process but the deve...",Developers typically have the most influence o...,I have some influence,HTML/CSS;JavaScript;PHP;SQL;TypeScript,C#;Dart;JavaScript;SQL;TypeScript,MariaDB;MongoDB;MySQL;PostgreSQL,Couchbase;Firebase;MariaDB;MongoDB;Redis,Android;AWS;Linux;Windows;WordPress,Android;AWS;Docker;Heroku;iOS;Linux;Raspberry ...,Angular/Angular.js;Drupal;Express;Laravel,Angular/Angular.js;Drupal;Express,Cordova;Node.js,Hadoop;Node.js,Notepad++;PHPStorm;Vim;Visual Studio Code,Linux-based,Production,NaN,NaN,Yes,Yes,No,Facebook,Online,Login,2016,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,0-10 minutes,Yes,Less than once per month or monthly,Yes,NaN,"Yes, somewhat",NaN,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy
63129,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Afghanistan,"Yes, full-time",I never completed any formal education,NaN,Taken an online course in programming or softw...,"Just me - I am a freelancer, sole proprietor, ...",NaN,Less than 1 year,Younger than 5 years,1,Very dissatisfied,Very dissatisfied,Very confident,Yes,Yes,I am actively looking for a job,I've never had a job,Write any code,Yes,How widely used or impactful my work output wo...,I had a negative experience or interaction at ...,AED,United Arab Emirates dirham,648838511.0,Monthly,1000000.0,168.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work,It's complicated,"Other place, such as a coworking space or cafe",Far below average,No,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;Other(s):,Bash/Shell/PowerShell;TypeScript,MySQL,MySQL,Android;iOS;Windows;WordPress;Other(s):,Android;iOS;Windows;WordPress;Other(s):,Angular/Angular.js;Express;jQuery;Laravel;Othe...,Angular/Angular.js;Express;jQuery;Laravel;Othe...,Ansible;Apache Spark;Torch/PyTorch,Apache Spark;Torch/PyTorch,Android Studio;Atom;Coda;Eclipse;Emacs;IPython...,Windows,"Outside of work, for personal projects",Accepting Bitcoin or other coins and tokens as...,Useful across many domains and could change ma...,Yes,Yes,Yes,I don't use social media,Online,UserID,NaN,I have never visited Stack Overflow (before to...,Find answers to specific questions,Less than once per week,Stack Overflow was much faster,0-10 minutes,NaN,NaN,"No, I didn't know that Stack Overflow had a jo...",NaN,"No, not at all",NaN,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy

In [45]:
pd.set_option('display.max_columns', 84)

In [49]:
df.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
39258,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Afghanistan,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Database administrator;Designer;Developer, bac...",2,22,1,Very satisfied,Very satisfied,Very confident,No,Yes,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...","Something else changed (education, award, medi...",AFN,Afghan afghani,120000.0,Monthly,19152.0,49.0,There is a schedule and/or spec (made by me or...,Not enough people for the workload;Time spent ...,Less than once per month / Never,Office,Far above average,"Yes, because I see value in code review",10.0,"Yes, it's not part of our process but the deve...",Developers typically have the most influence o...,I have some influence,HTML/CSS;JavaScript;PHP;SQL;TypeScript,C#;Dart;JavaScript;SQL;TypeScript,MariaDB;MongoDB;MySQL;PostgreSQL,Couchbase;Firebase;MariaDB;MongoDB;Redis,Android;AWS;Linux;Windows;WordPress,Android;AWS;Docker;Heroku;iOS;Linux;Raspberry ...,Angular/Angular.js;Drupal;Express;Laravel,Angular/Angular.js;Drupal;Express,Cordova;Node.js,Hadoop;Node.js,Notepad++;PHPStorm;Vim;Visual Studio Code,Linux-based,Production,NaN,NaN,Yes,Yes,No,Facebook,Online,Login,2016,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,0-10 minutes,Yes,Less than once per month or monthly,Yes,NaN,"Yes, somewhat",NaN,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy
63129,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Afghanistan,"Yes, full-time",I never completed any formal education,NaN,Taken an online course in programming or softw...,"Just me - I am a freelancer, sole proprietor, ...",NaN,Less than 1 year,Younger than 5 years,1,Very dissatisfied,Very dissatisfied,Very confident,Yes,Yes,I am actively looking for a job,I've never had a job,Write any code,Yes,How widely used or impactful my work output wo...,I had a negative experience or interaction at ...,AED,United Arab Emirates dirham,648838511.0,Monthly,1000000.0,168.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work,It's complicated,"Other place, such as a coworking space or cafe",Far below average,No,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;Other(s):,Bash/Shell/PowerShell;TypeScript,MySQL,MySQL,Android;iOS;Windows;WordPress;Other(s):,Android;iOS;Windows;WordPress;Other(s):,Angular/Angular.js;Express;jQuery;Laravel;Othe...,Angular/Angular.js;Express;jQuery;Laravel;Othe...,Ansible;Apache Spark;Torch/PyTorch,Apache Spark;Torch/PyTorch,Android Studio;Atom;Coda;Eclipse;Emacs;IPython...,Windows,"Outside of work, for personal projects",Accepting Bitcoin or other coins and tokens as...,Useful across many domains and could change ma...,Yes,Yes,Yes,I don't use social media,Online,UserID,NaN,I have never visited Stack Overflow (before to...,Find answers to specific questions,Less than once per week,Stack Overflow was much faster,0-10 minutes,NaN,NaN,"No, I didn't know that Stack Overflow had a jo...",NaN,"No, not at all",NaN,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy

연봉 상위 10명 출력

In [53]:
df[['Country','SalaryUSD']].sort_values('SalaryUSD', ascending=False).head(10)

                  Country  SalaryUSD
Respondent
27441       United States  2000000.0
18310       United States  2000000.0
34938       United States  2000000.0
82634       United States  2000000.0
34870       United States  2000000.0
9592        United States  2000000.0
34912       United States  2000000.0
34503       United States  2000000.0
83520       United States  2000000.0
82691       United States  2000000.0

pandas에서 상위 n개의 결과를 볼 수 있는 nlargest() 함수를 제공한다.  
상위 10명의 연봉이 보고싶다면 :

In [56]:
df['SalaryUSD'].nlargest(10)

Respondent
25983    2000000.0
87896    2000000.0
22013    2000000.0
28243    2000000.0
72732    2000000.0
78151    2000000.0
80200    2000000.0
52132    2000000.0
75561    2000000.0
32250    2000000.0
Name: SalaryUSD, dtype: float64

연봉 top 10의 다른 정보도 알고싶다 그러면?

In [58]:
df.nlargest(10, 'SalaryUSD')[['Country', 'EdLevel','SalaryUSD']]

,Country,EdLevel,SalaryUSD
Respondent,,,
25983,Canada,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
87896,Germany,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
22013,India,"Professional degree (JD, MD, etc.)",2000000.0
28243,India,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",2000000.0
72732,India,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
78151,Mexico,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
80200,Netherlands,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
52132,Peru,Some college/university study without earning ...,2000000.0
75561,Singapore,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
32250,Switzerland,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0

최소연봉 top10을 알고싶다면 nsamllest()

In [59]:
df.nsmallest(10, 'SalaryUSD')[['Country', 'EdLevel', 'SalaryUSD']]

,Country,EdLevel,SalaryUSD
Respondent,,,
28638,Afghanistan,"Other doctoral degree (Ph.D, Ed.D., etc.)",0.0
722,Afghanistan,NaN,0.0
13825,Algeria,NaN,0.0
40913,Armenia,"Bachelor’s degree (BA, BS, B.Eng., etc.)",0.0
30630,Australia,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",0.0
69049,Australia,"Bachelor’s degree (BA, BS, B.Eng., etc.)",0.0
19340,Austria,"Bachelor’s degree (BA, BS, B.Eng., etc.)",0.0
16214,Bangladesh,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",0.0
29355,Bosnia and Herzegovina,Some college/university study without earning ...,0.0
1685,Brazil,"Bachelor’s degree (BA, BS, B.Eng., etc.)",0.0